<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/partials.css' />
    <link rel='stylesheet' href='/stylesheets/studants.css' />
    <link rel='stylesheet' href='/stylesheets/courses.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="inner_header">
        <div class="header-logo">
          <h1>MY<span>SITE</span></h1>
        </div>
        <div class="header-links">
          <a href="/courses">courses</a>
          <a href="/studants">studants</a>
          <a href="/">Home</a>
        </div>
      </div>
    </div>