<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Products</h1>
    <p>Welcome to this site</p>
    <img src="/images/Naruto.jpg" alt="Naruto foto">
  </body>
</html>
